@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-br from-white to-slate-50 dark:from-neutral-950 dark:to-[#0e0e0e];
  }

  ::-webkit-scrollbar {
    width: 10px;
    @apply bg-neutral-200 dark:bg-neutral-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-400 dark:bg-neutral-800;
  }

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: clip;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
}
