@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 0 0 12%;
    --secondary: 0 0 80%;
    --primary-foreground: 0 0 85%;
    --secondary-foreground: 0 0 12%;
  }

  .dark {
    --primary: 0 0 80%;
    --secondary: 0 0 12%;
    --primary-foreground: 0 0 12%;
    --secondary-foreground: 0 0 80%;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gradient-to-br from-white to-slate-50 dark:from-neutral-950 dark:to-[#0e0e0e];
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    @apply bg-neutral-200 dark:bg-neutral-900;
  }

  ::-webkit-scrollbar-corner {
    @apply bg-neutral-200 dark:bg-neutral-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-400 dark:bg-neutral-800;
  }

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: clip;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
}
